---
title: Le Wagon Middleman boilerplate
---

<!-- Part 1 -->

<div class="banner text-center">
  <div class="banner-gradient"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-6">
      </div>
      <div class="col-sm-6">
          <div class="banner-content">
            <h1>Petit hydromel pétillant</h1>
            <p>Very cool stuff, useful and smart</p>
            <a class="btn btn-primary btn-lg">Acheter</a>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Part 2 -->

<div class="blue-background">
  <h1>Manu is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>


<!-- Part 3 -->
